body, html {
  height: 100%;
  margin: 0; /* Hilangkan margin untuk memastikan 100% tinggi */
  overflow-x: hidden; /* Cegah horizontal scrolling */
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Pastikan wrapper memenuhi seluruh viewport */
}

.content-wrapper {
  flex-grow: 1; /* Membuat konten meluas dan menyesuaikan ruang yang ada */
}

footer {
  background-color: #333; /* Warna latar footer */
  color: white; /* Warna teks footer */
  text-align: center; /* Penataan teks di tengah */
  padding: 10px;
  width: 100%;
  position: relative; /* Pastikan footer tidak mengganggu konten */
  bottom: 0;
  height: 50px; /* Tinggi footer */
}

/* Tambahan untuk elemen yang mungkin melampaui lebar viewport */
* {
  box-sizing: border-box; /* Pastikan padding dan border dihitung dalam ukuran elemen */
}
.ctt{
  margin-left: 20px;
}
.text-truncate-custom {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  
  /* Gunakan prefiks dan properti standar */
  -webkit-line-clamp: 2; /* Untuk browser berbasis WebKit seperti Chrome, Safari */
  line-clamp: 2; /* Versi standar jika sudah diadopsi oleh browser */

  -webkit-box-orient: vertical;
  box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.scrollable-text {
  max-height: 100px; /* Tentukan tinggi maksimal elemen */
  overflow-y: auto;  /* Tambahkan kemampuan untuk scroll secara vertikal */
  padding-right: 10px; /* Memberi ruang agar tidak overlap dengan scrollbar */
}
