body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.sidebar-brand-text {
  text-transform: uppercase;
}

.sidebar-brand-text span {
  text-transform: lowercase;
}
.sidebar {
  display: block; /* Tampilkan sidebar */
}

.sidebar.hidden {
  display: none; /* Sembunyikan sidebar */
}
