body, html {
  height: 100%;
  margin: 0; /* Hilangkan margin untuk memastikan 100% tinggi */
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Pastikan wrapper memenuhi seluruh viewport */
}

.content-wrapper {
  flex-grow: 1; /* Membuat konten meluas dan menyesuaikan ruang yang ada */
}

footer {
  background-color: #333; /* Warna latar footer */
  color: white; /* Warna teks footer */
  text-align: center; /* Penataan teks di tengah */
  padding: 10px;
  width: 100%;
  position: relative; /* Pastikan footer tidak mengganggu konten */
  bottom: 0;
  height: 50px; /* Tinggi footer */
}
